body {
    min-height: 100vh;
    background-color: #292929;
    color: #E7DFD4;

    display: flex;
    flex-direction: column;
}

#header {
    padding: 10px;
    
    flex-grow: 0;
    flex-shrink: 1;
}

#dashboard {
    flex-grow: 1;
    flex-shrink: 0;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
}

.manga-dashboard, .manga-display {
    flex-grow: 1;
    flex-shrink: 0;
}
.manga-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.manga-pages {
    padding: 10px;
    flex-grow: 0;
    flex-shrink: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.manga-holder {
    margin: 10px;
    padding: 10px;
    background-color:#292929;

    width: 225px;
    height: 375px;

    text-align: center;
    transition: opacity 0.25s ease;
}

.manga-holder:hover {
    cursor: pointer;
    opacity: 0.5;
}

.manga-frame {
    width:100%;
    height: auto;
}

.manga-button {
    cursor: pointer;
    padding: 5px;
    margin: 5px;

    border: 1px solid #D6CEC3;
    background-color: #292929;
    color: #E7DFD4;
}

@media only screen and (max-width: 640px){
    .manga-holder {
        margin: 5px;
        width: 100px;
        height: 200px;
    }
}